<nil>
102
package epd_api_model
const (
"AuditHistoryViewType",
"ChoicesBlockSizeType",
"ChoicesCapacityType",
"ChoicesLifeCycleType",
"ChoicesPortType",
"ChoicesTestDurationTypeType",
"ChoicesTestPurposeType",
"DashboardType",
"DashboardNotificationsType",
"ExportHelpFileUploadType",
"ImportFileUploadType",
"KeyForTypesViewCall",
"RolesType",
"SettingsEnvType",
"SubscriptionGroupViewType",
"SubscriptionUserViewType",
"TctDetailViewType",
"TestCaseCategoriesType",
"TestCaseViewType",
"TestCycleReportType",
"TestCycleViewType",
"TestCycleTemplateViewType",
"TestGroupViewType",
"TestLauncherLibraryType",
"TestLauncherLibraryDependencyType",
"TestLauncherTestPeripheralDependencyType",
"TestLauncherTestPeripheralTypeType",
"TestLauncherTestToolType",
"TestLauncherToolDependencyType",
"TestLauncherViewType",
"TestPlanViewType",
"TestProjectViewType",
"TestResultChoicesStatusType",
"TestResultCommentTagViewType",
"TestResultFioTestResultViewType",
"TestResultIometerTestReportViewType",
"TestResultIometerTestResultViewType",
"TestResultLogType",
"TestResultReportTemplateViewType",
"TestResultTestRunResultCommentViewType",
"TestResultViewType",
"TestRunDuplicateType",
"TestRunViewType",
"TestSystemChoicesDataScopeType",
"TestSystemChoicesDeviceUnderTestingBackendType",
"TestSystemChoicesDeviceUnderTestingCapacityType",
"TestSystemChoicesDeviceUnderTestingCustomerType",
"TestSystemChoicesDeviceUnderTestingFormFactorType",
"TestSystemChoicesDeviceUnderTestingFrontendType",
"TestSystemChoicesDeviceUnderTestingHealthStatusType",
"TestSystemChoicesDeviceUnderTestingHostInterfaceType",
"TestSystemChoicesDeviceUnderTestingProductType",
"TestSystemChoicesDeviceUnderTestingStatusType",
"TestSystemChoicesDownloadTypeType",
"TestSystemChoicesFirmwareTypeType",
"TestSystemChoicesNandTypeType",
"TestSystemChoicesNandVersionType",
"TestSystemChoicesOperatingSystemType",
"TestSystemChoicesOverProvisioningType",
"TestSystemChoicesPortType",
"TestSystemChoicesRaidType",
"TestSystemChoicesResultType",
"TestSystemChoicesSecurityType",
"TestSystemChoicesSpeedType",
"TestSystemChoicesStatusType",
"TestSystemChoicesStorageInterfaceFormFactorType",
"TestSystemChoicesTestProjectStatusType",
"TestSystemChoicesTestRunPriorityStatusType",
"TestSystemChoicesTestRunResultType",
"TestSystemChoicesTestToolTypeType",
"TestSystemChoicesTestTypeType",
"TestSystemControllerType",
"TestSystemDeviceUnderTestingType",
"TestSystemFirmwareType",
"TestSystemNodeType",
"TestSystemOperatingSystemType",
"TestSystemProductType",
"TestSystemProductFamilyType",
"TestSystemProductLinkType",
"TestSystemQualPlanType",
"TestSystemStorageDriverType",
"TestSystemStorageInterfaceType",
"TestSystemStorageInterfaceTypeType",
"TestSystemTestPeripheralType",
"TestSystemTestRequestType",
"TestSystemTestRequestDetailType",
"TestSystemViewType",
"TriggerEventChoicesType",
"UsageStatsType",
"UserGroupType",
"UserSettingsType",
"UserUploadViewType",
"UserUploadViewTypeType",
"UsersType",
"UsersMeType",
"UsersResetPasswordType",
"V2FirmwareReportType",

)

