{
	ApiCall:"/audit_history/view",
	GoApiCallName:"AuditHistoryViewCall",
	WideType:"AuditHistoryViewType",
	GetMethod:"GetAuditHistoryView",
	PostMethod:"PostAuditHistoryView",
	PutMethod:"PutAuditHistoryView",
	PatchMethod:"PatchAuditHistoryView",
	OptMethod:"OptAuditHistoryView",
	ExampleType:"AuditHistoryView",
	ExampleName:"AuditHistoryViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/choices/block_size",
	GoApiCallName:"ChoicesBlockSizeCall",
	WideType:"ChoicesBlockSizeType",
	GetMethod:"GetChoicesBlockSize",
	OptMethod:"OptChoicesBlockSize",
	ExampleType:"ChoicesBlockSize",
	ExampleName:"ChoicesBlockSizeFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/choices/capacity",
	GoApiCallName:"ChoicesCapacityCall",
	WideType:"ChoicesCapacityType",
	GetMethod:"GetChoicesCapacity",
	OptMethod:"OptChoicesCapacity",
	ExampleType:"ChoicesCapacity",
	ExampleName:"ChoicesCapacityFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/choices/life_cycle",
	GoApiCallName:"ChoicesLifeCycleCall",
	WideType:"ChoicesLifeCycleType",
	GetMethod:"GetChoicesLifeCycle",
	OptMethod:"OptChoicesLifeCycle",
	ExampleType:"ChoicesLifeCycle",
	ExampleName:"ChoicesLifeCycleFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/choices/port",
	GoApiCallName:"ChoicesPortCall",
	WideType:"ChoicesPortType",
	GetMethod:"GetChoicesPort",
	OptMethod:"OptChoicesPort",
	ExampleType:"ChoicesPort",
	ExampleName:"ChoicesPortFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/choices/test_duration_type",
	GoApiCallName:"ChoicesTestDurationTypeCall",
	WideType:"ChoicesTestDurationTypeType",
	GetMethod:"GetChoicesTestDurationType",
	OptMethod:"OptChoicesTestDurationType",
	ExampleType:"ChoicesTestDurationType",
	ExampleName:"ChoicesTestDurationTypeFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/choices/test_purpose",
	GoApiCallName:"ChoicesTestPurposeCall",
	WideType:"ChoicesTestPurposeType",
	GetMethod:"GetChoicesTestPurpose",
	OptMethod:"OptChoicesTestPurpose",
	ExampleType:"ChoicesTestPurpose",
	ExampleName:"ChoicesTestPurposeFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/dashboard",
	GoApiCallName:"DashboardCall",
	WideType:"DashboardType",
	GetMethod:"GetDashboard",
	OptMethod:"OptDashboard",
},
{
	ApiCall:"/dashboard/notifications",
	GoApiCallName:"DashboardNotificationsCall",
	WideType:"DashboardNotificationsType",
	GetMethod:"GetDashboardNotifications",
	OptMethod:"OptDashboardNotifications",
	ExampleType:"DashboardNotifications",
	ExampleName:"DashboardNotificationsFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
/* StatusCode: 500
Error: nil
Body: {"detail":"ProgrammingError: relation \"tbl_test_tool_config\" does not exist\nLINE 10: ...elect 5, 'Test Tool Config', array_agg(name) from tbl_test_t...\n                                                              ^\nQUERY:  (\nselect 1 as id, 'Test Launcher' source, array_agg(name) choices from tbl_test_launcher\nunion\nselect 2, 'Test Tool name', array_agg(name) from tbl_test_tool\nunion\nselect 3, 'Test Tool revision', array_agg(revision) from tbl_test_tool\nunion\nselect 4, 'Operating System', array_agg(name) from tbl_operating_system\nunion\nselect 5, 'Test Tool Config', array_agg(name) from tbl_test_tool_config\n\n)\nCONTEXT:  PL/pgSQL function sp_export_help() line 3 at RETURN QUERY\n"} */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/export_help_file/upload/?format=json */
/* StatusCode: 405
Error: nil
Body: {"detail":"Method \"GET\" not allowed."} */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/import_file/upload/?format=json */
{
	ApiCall:"/key_for_calls/view",
	GoApiCallName:"KeyForTypesViewCallCall",
	WideType:"KeyForTypesViewCall",
	GetMethod:"GetKeyForTypesViewCall",
	OptMethod:"OptKeyForTypesViewCall",
},
{
	ApiCall:"/roles",
	GoApiCallName:"RolesCall",
	WideType:"RolesType",
	GetMethod:"GetRoles",
	OptMethod:"OptRoles",
},
{
	ApiCall:"/settings/env",
	GoApiCallName:"SettingsEnvCall",
	WideType:"SettingsEnvType",
	GetMethod:"GetSettingsEnv",
	HeadMethod:"HeadSettingsEnv",
	OptMethod:"OptSettingsEnv",
},
/* StatusCode: 500
Error: nil
Body: {"detail":"TypeError: Related Field got invalid lookup: icontains"} */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/subscription/group/view/?format=json */
{
	ApiCall:"/subscription/user/view",
	GoApiCallName:"SubscriptionUserViewCall",
	WideType:"SubscriptionUserViewType",
	GetMethod:"GetSubscriptionUserView",
	PostMethod:"PostSubscriptionUserView",
	OptMethod:"OptSubscriptionUserView",
	ExampleType:"SubscriptionUserView",
	ExampleName:"SubscriptionUserViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/tct_detail/view",
	GoApiCallName:"TctDetailViewCall",
	WideType:"TctDetailViewType",
	GetMethod:"GetTctDetailView",
	PostMethod:"PostTctDetailView",
	PutMethod:"PutTctDetailView",
	PatchMethod:"PatchTctDetailView",
	OptMethod:"OptTctDetailView",
	ExampleType:"TctDetailView",
	ExampleName:"TctDetailViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_case/categories",
	GoApiCallName:"TestCaseCategoriesCall",
	WideType:"TestCaseCategoriesType",
	GetMethod:"GetTestCaseCategories",
	OptMethod:"OptTestCaseCategories",
},
{
	ApiCall:"/test_case/view",
	GoApiCallName:"TestCaseViewCall",
	WideType:"TestCaseViewType",
	GetMethod:"GetTestCaseView",
	PostMethod:"PostTestCaseView",
	PutMethod:"PutTestCaseView",
	PatchMethod:"PatchTestCaseView",
	OptMethod:"OptTestCaseView",
	ExampleType:"TestCaseView",
	ExampleName:"TestCaseViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_cycle/report",
	GoApiCallName:"TestCycleReportCall",
	WideType:"TestCycleReportType",
	GetMethod:"GetTestCycleReport",
	PostMethod:"PostTestCycleReport",
	PutMethod:"PutTestCycleReport",
	PatchMethod:"PatchTestCycleReport",
	OptMethod:"OptTestCycleReport",
},
{
	ApiCall:"/test_cycle/view",
	GoApiCallName:"TestCycleViewCall",
	WideType:"TestCycleViewType",
	GetMethod:"GetTestCycleView",
	PostMethod:"PostTestCycleView",
	PutMethod:"PutTestCycleView",
	PatchMethod:"PatchTestCycleView",
	OptMethod:"OptTestCycleView",
	ExampleType:"TestCycleView",
	ExampleName:"TestCycleViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_cycle_template/view",
	GoApiCallName:"TestCycleTemplateViewCall",
	WideType:"TestCycleTemplateViewType",
	GetMethod:"GetTestCycleTemplateView",
	PostMethod:"PostTestCycleTemplateView",
	PutMethod:"PutTestCycleTemplateView",
	PatchMethod:"PatchTestCycleTemplateView",
	OptMethod:"OptTestCycleTemplateView",
	ExampleType:"TestCycleTemplateView",
	ExampleName:"TestCycleTemplateViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_group/view",
	GoApiCallName:"TestGroupViewCall",
	WideType:"TestGroupViewType",
	GetMethod:"GetTestGroupView",
	PostMethod:"PostTestGroupView",
	PutMethod:"PutTestGroupView",
	PatchMethod:"PatchTestGroupView",
	OptMethod:"OptTestGroupView",
	ExampleType:"TestGroupView",
	ExampleName:"TestGroupViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_launcher/library",
	GoApiCallName:"TestLauncherLibraryCall",
	WideType:"TestLauncherLibraryType",
	GetMethod:"GetTestLauncherLibrary",
	PostMethod:"PostTestLauncherLibrary",
	PutMethod:"PutTestLauncherLibrary",
	PatchMethod:"PatchTestLauncherLibrary",
	OptMethod:"OptTestLauncherLibrary",
	ExampleType:"TestLauncherLibrary",
	ExampleName:"TestLauncherLibraryFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_launcher/library_dependency",
	GoApiCallName:"TestLauncherLibraryDependencyCall",
	WideType:"TestLauncherLibraryDependencyType",
	GetMethod:"GetTestLauncherLibraryDependency",
	PostMethod:"PostTestLauncherLibraryDependency",
	PutMethod:"PutTestLauncherLibraryDependency",
	PatchMethod:"PatchTestLauncherLibraryDependency",
	OptMethod:"OptTestLauncherLibraryDependency",
	ExampleType:"TestLauncherLibraryDependency",
	ExampleName:"TestLauncherLibraryDependencyFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_launcher/test_peripheral_dependency",
	GoApiCallName:"TestLauncherTestPeripheralDependencyCall",
	WideType:"TestLauncherTestPeripheralDependencyType",
	GetMethod:"GetTestLauncherTestPeripheralDependency",
	PostMethod:"PostTestLauncherTestPeripheralDependency",
	PutMethod:"PutTestLauncherTestPeripheralDependency",
	PatchMethod:"PatchTestLauncherTestPeripheralDependency",
	OptMethod:"OptTestLauncherTestPeripheralDependency",
	ExampleType:"TestLauncherTestPeripheralDependency",
	ExampleName:"TestLauncherTestPeripheralDependencyFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_launcher/test_peripheral_type",
	GoApiCallName:"TestLauncherTestPeripheralTypeCall",
	WideType:"TestLauncherTestPeripheralTypeType",
	GetMethod:"GetTestLauncherTestPeripheralType",
	PostMethod:"PostTestLauncherTestPeripheralType",
	PutMethod:"PutTestLauncherTestPeripheralType",
	PatchMethod:"PatchTestLauncherTestPeripheralType",
	OptMethod:"OptTestLauncherTestPeripheralType",
	ExampleType:"TestLauncherTestPeripheralType",
	ExampleName:"TestLauncherTestPeripheralTypeFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_launcher/test_tool",
	GoApiCallName:"TestLauncherTestToolCall",
	WideType:"TestLauncherTestToolType",
	GetMethod:"GetTestLauncherTestTool",
	PostMethod:"PostTestLauncherTestTool",
	PutMethod:"PutTestLauncherTestTool",
	PatchMethod:"PatchTestLauncherTestTool",
	OptMethod:"OptTestLauncherTestTool",
	ExampleType:"TestLauncherTestTool",
	ExampleName:"TestLauncherTestToolFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
/* StatusCode: 404
Error: invalid character '<' looking for beginning of value
Body: 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Page not found at /test_launcher/tool_dependency/</title>
  <meta name="robots" content="NONE,NOARCHIVE">
  <style type="text/css">
    html * { padding:0; margin:0; }
    body * { padding:10px 20px; }
    body * * { padding:0; }
    body { font:small sans-serif; background:#eee; }
    body>div { border-bottom:1px solid #ddd; }
    h1 { font-weight:normal; margin-bottom:.4em; }... */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/test_launcher/tool_dependency/?format=json */
{
	ApiCall:"/test_launcher/view",
	GoApiCallName:"TestLauncherViewCall",
	WideType:"TestLauncherViewType",
	GetMethod:"GetTestLauncherView",
	PostMethod:"PostTestLauncherView",
	PutMethod:"PutTestLauncherView",
	PatchMethod:"PatchTestLauncherView",
	OptMethod:"OptTestLauncherView",
	ExampleType:"TestLauncherView",
	ExampleName:"TestLauncherViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_plan/view",
	GoApiCallName:"TestPlanViewCall",
	WideType:"TestPlanViewType",
	GetMethod:"GetTestPlanView",
	PostMethod:"PostTestPlanView",
	PutMethod:"PutTestPlanView",
	PatchMethod:"PatchTestPlanView",
	OptMethod:"OptTestPlanView",
	ExampleType:"TestPlanView",
	ExampleName:"TestPlanViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_project/view",
	GoApiCallName:"TestProjectViewCall",
	WideType:"TestProjectViewType",
	GetMethod:"GetTestProjectView",
	PostMethod:"PostTestProjectView",
	PutMethod:"PutTestProjectView",
	PatchMethod:"PatchTestProjectView",
	OptMethod:"OptTestProjectView",
	ExampleType:"TestProjectView",
	ExampleName:"TestProjectViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/choices/status",
	GoApiCallName:"TestResultChoicesStatusCall",
	WideType:"TestResultChoicesStatusType",
	GetMethod:"GetTestResultChoicesStatus",
	OptMethod:"OptTestResultChoicesStatus",
},
{
	ApiCall:"/test_result/comment_tag/view",
	GoApiCallName:"TestResultCommentTagViewCall",
	WideType:"TestResultCommentTagViewType",
	GetMethod:"GetTestResultCommentTagView",
	PostMethod:"PostTestResultCommentTagView",
	PutMethod:"PutTestResultCommentTagView",
	PatchMethod:"PatchTestResultCommentTagView",
	OptMethod:"OptTestResultCommentTagView",
	ExampleType:"TestResultCommentTagView",
	ExampleName:"TestResultCommentTagViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/fio_test_result/view",
	GoApiCallName:"TestResultFioTestResultViewCall",
	WideType:"TestResultFioTestResultViewType",
	GetMethod:"GetTestResultFioTestResultView",
	PostMethod:"PostTestResultFioTestResultView",
	PutMethod:"PutTestResultFioTestResultView",
	PatchMethod:"PatchTestResultFioTestResultView",
	OptMethod:"OptTestResultFioTestResultView",
	ExampleType:"TestResultFioTestResultView",
	ExampleName:"TestResultFioTestResultViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/iometer_test_report/view",
	GoApiCallName:"TestResultIometerTestReportViewCall",
	WideType:"TestResultIometerTestReportViewType",
	GetMethod:"GetTestResultIometerTestReportView",
	OptMethod:"OptTestResultIometerTestReportView",
},
{
	ApiCall:"/test_result/iometer_test_result/view",
	GoApiCallName:"TestResultIometerTestResultViewCall",
	WideType:"TestResultIometerTestResultViewType",
	GetMethod:"GetTestResultIometerTestResultView",
	PostMethod:"PostTestResultIometerTestResultView",
	PutMethod:"PutTestResultIometerTestResultView",
	PatchMethod:"PatchTestResultIometerTestResultView",
	OptMethod:"OptTestResultIometerTestResultView",
	ExampleType:"TestResultIometerTestResultView",
	ExampleName:"TestResultIometerTestResultViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/log",
	GoApiCallName:"TestResultLogCall",
	WideType:"TestResultLogType",
	GetMethod:"GetTestResultLog",
	PostMethod:"PostTestResultLog",
	PutMethod:"PutTestResultLog",
	PatchMethod:"PatchTestResultLog",
	OptMethod:"OptTestResultLog",
	ExampleType:"TestResultLog",
	ExampleName:"TestResultLogFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/report_template/view",
	GoApiCallName:"TestResultReportTemplateViewCall",
	WideType:"TestResultReportTemplateViewType",
	GetMethod:"GetTestResultReportTemplateView",
	PostMethod:"PostTestResultReportTemplateView",
	PutMethod:"PutTestResultReportTemplateView",
	PatchMethod:"PatchTestResultReportTemplateView",
	OptMethod:"OptTestResultReportTemplateView",
	ExampleType:"TestResultReportTemplateView",
	ExampleName:"TestResultReportTemplateViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/test_run_result_comment/view",
	GoApiCallName:"TestResultTestRunResultCommentViewCall",
	WideType:"TestResultTestRunResultCommentViewType",
	GetMethod:"GetTestResultTestRunResultCommentView",
	PostMethod:"PostTestResultTestRunResultCommentView",
	PutMethod:"PutTestResultTestRunResultCommentView",
	PatchMethod:"PatchTestResultTestRunResultCommentView",
	OptMethod:"OptTestResultTestRunResultCommentView",
	ExampleType:"TestResultTestRunResultCommentView",
	ExampleName:"TestResultTestRunResultCommentViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_result/view",
	GoApiCallName:"TestResultViewCall",
	WideType:"TestResultViewType",
	GetMethod:"GetTestResultView",
	PostMethod:"PostTestResultView",
	PutMethod:"PutTestResultView",
	PatchMethod:"PatchTestResultView",
	OptMethod:"OptTestResultView",
	ExampleType:"TestResultView",
	ExampleName:"TestResultViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
/* StatusCode: 405
Error: nil
Body: {"detail":"Method \"GET\" not allowed."} */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/test_run/duplicate/?format=json */
{
	ApiCall:"/test_run/view",
	GoApiCallName:"TestRunViewCall",
	WideType:"TestRunViewType",
	GetMethod:"GetTestRunView",
	PostMethod:"PostTestRunView",
	PutMethod:"PutTestRunView",
	PatchMethod:"PatchTestRunView",
	OptMethod:"OptTestRunView",
	ExampleType:"TestRunView",
	ExampleName:"TestRunViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/choices/data_scope",
	GoApiCallName:"TestSystemChoicesDataScopeCall",
	WideType:"TestSystemChoicesDataScopeType",
	GetMethod:"GetTestSystemChoicesDataScope",
	OptMethod:"OptTestSystemChoicesDataScope",
},
{
	ApiCall:"/test_system/choices/device_under_testing_backend",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingBackendCall",
	WideType:"TestSystemChoicesDeviceUnderTestingBackendType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingBackend",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingBackend",
},
{
	ApiCall:"/test_system/choices/device_under_testing_capacity",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingCapacityCall",
	WideType:"TestSystemChoicesDeviceUnderTestingCapacityType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingCapacity",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingCapacity",
},
{
	ApiCall:"/test_system/choices/device_under_testing_customer",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingCustomerCall",
	WideType:"TestSystemChoicesDeviceUnderTestingCustomerType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingCustomer",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingCustomer",
},
{
	ApiCall:"/test_system/choices/device_under_testing_form_factor",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingFormFactorCall",
	WideType:"TestSystemChoicesDeviceUnderTestingFormFactorType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingFormFactor",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingFormFactor",
},
{
	ApiCall:"/test_system/choices/device_under_testing_frontend",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingFrontendCall",
	WideType:"TestSystemChoicesDeviceUnderTestingFrontendType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingFrontend",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingFrontend",
},
{
	ApiCall:"/test_system/choices/device_under_testing_health_status",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingHealthStatusCall",
	WideType:"TestSystemChoicesDeviceUnderTestingHealthStatusType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingHealthStatus",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingHealthStatus",
},
{
	ApiCall:"/test_system/choices/device_under_testing_host_interface",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingHostInterfaceCall",
	WideType:"TestSystemChoicesDeviceUnderTestingHostInterfaceType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingHostInterface",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingHostInterface",
},
{
	ApiCall:"/test_system/choices/device_under_testing_product",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingProductCall",
	WideType:"TestSystemChoicesDeviceUnderTestingProductType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingProduct",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingProduct",
},
{
	ApiCall:"/test_system/choices/device_under_testing_status",
	GoApiCallName:"TestSystemChoicesDeviceUnderTestingStatusCall",
	WideType:"TestSystemChoicesDeviceUnderTestingStatusType",
	GetMethod:"GetTestSystemChoicesDeviceUnderTestingStatus",
	OptMethod:"OptTestSystemChoicesDeviceUnderTestingStatus",
},
{
	ApiCall:"/test_system/choices/download_type",
	GoApiCallName:"TestSystemChoicesDownloadTypeCall",
	WideType:"TestSystemChoicesDownloadTypeType",
	GetMethod:"GetTestSystemChoicesDownloadType",
	OptMethod:"OptTestSystemChoicesDownloadType",
},
{
	ApiCall:"/test_system/choices/firmware_type",
	GoApiCallName:"TestSystemChoicesFirmwareTypeCall",
	WideType:"TestSystemChoicesFirmwareTypeType",
	GetMethod:"GetTestSystemChoicesFirmwareType",
	OptMethod:"OptTestSystemChoicesFirmwareType",
},
{
	ApiCall:"/test_system/choices/nand_type",
	GoApiCallName:"TestSystemChoicesNandTypeCall",
	WideType:"TestSystemChoicesNandTypeType",
	GetMethod:"GetTestSystemChoicesNandType",
	OptMethod:"OptTestSystemChoicesNandType",
},
{
	ApiCall:"/test_system/choices/nand_version",
	GoApiCallName:"TestSystemChoicesNandVersionCall",
	WideType:"TestSystemChoicesNandVersionType",
	GetMethod:"GetTestSystemChoicesNandVersion",
	OptMethod:"OptTestSystemChoicesNandVersion",
},
/* StatusCode: 404
Error: invalid character '<' looking for beginning of value
Body: 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Page not found at /test_system/choices/operating_system/</title>
  <meta name="robots" content="NONE,NOARCHIVE">
  <style type="text/css">
    html * { padding:0; margin:0; }
    body * { padding:10px 20px; }
    body * * { padding:0; }
    body { font:small sans-serif; background:#eee; }
    body>div { border-bottom:1px solid #ddd; }
    h1 { font-weight:normal; margin-bottom:... */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/test_system/choices/operating_system/?format=json */
{
	ApiCall:"/test_system/choices/over_provisioning",
	GoApiCallName:"TestSystemChoicesOverProvisioningCall",
	WideType:"TestSystemChoicesOverProvisioningType",
	GetMethod:"GetTestSystemChoicesOverProvisioning",
	OptMethod:"OptTestSystemChoicesOverProvisioning",
},
{
	ApiCall:"/test_system/choices/port",
	GoApiCallName:"TestSystemChoicesPortCall",
	WideType:"TestSystemChoicesPortType",
	GetMethod:"GetTestSystemChoicesPort",
	OptMethod:"OptTestSystemChoicesPort",
},
{
	ApiCall:"/test_system/choices/raid",
	GoApiCallName:"TestSystemChoicesRaidCall",
	WideType:"TestSystemChoicesRaidType",
	GetMethod:"GetTestSystemChoicesRaid",
	OptMethod:"OptTestSystemChoicesRaid",
},
{
	ApiCall:"/test_system/choices/result",
	GoApiCallName:"TestSystemChoicesResultCall",
	WideType:"TestSystemChoicesResultType",
	GetMethod:"GetTestSystemChoicesResult",
	OptMethod:"OptTestSystemChoicesResult",
},
{
	ApiCall:"/test_system/choices/security",
	GoApiCallName:"TestSystemChoicesSecurityCall",
	WideType:"TestSystemChoicesSecurityType",
	GetMethod:"GetTestSystemChoicesSecurity",
	OptMethod:"OptTestSystemChoicesSecurity",
},
{
	ApiCall:"/test_system/choices/speed",
	GoApiCallName:"TestSystemChoicesSpeedCall",
	WideType:"TestSystemChoicesSpeedType",
	GetMethod:"GetTestSystemChoicesSpeed",
	OptMethod:"OptTestSystemChoicesSpeed",
},
{
	ApiCall:"/test_system/choices/status",
	GoApiCallName:"TestSystemChoicesStatusCall",
	WideType:"TestSystemChoicesStatusType",
	GetMethod:"GetTestSystemChoicesStatus",
	OptMethod:"OptTestSystemChoicesStatus",
},
{
	ApiCall:"/test_system/choices/storage_interface_form_factor",
	GoApiCallName:"TestSystemChoicesStorageInterfaceFormFactorCall",
	WideType:"TestSystemChoicesStorageInterfaceFormFactorType",
	GetMethod:"GetTestSystemChoicesStorageInterfaceFormFactor",
	OptMethod:"OptTestSystemChoicesStorageInterfaceFormFactor",
},
{
	ApiCall:"/test_system/choices/test_project_status",
	GoApiCallName:"TestSystemChoicesTestProjectStatusCall",
	WideType:"TestSystemChoicesTestProjectStatusType",
	GetMethod:"GetTestSystemChoicesTestProjectStatus",
	OptMethod:"OptTestSystemChoicesTestProjectStatus",
},
{
	ApiCall:"/test_system/choices/test_run_priority_status",
	GoApiCallName:"TestSystemChoicesTestRunPriorityStatusCall",
	WideType:"TestSystemChoicesTestRunPriorityStatusType",
	GetMethod:"GetTestSystemChoicesTestRunPriorityStatus",
	OptMethod:"OptTestSystemChoicesTestRunPriorityStatus",
},
{
	ApiCall:"/test_system/choices/test_run_result",
	GoApiCallName:"TestSystemChoicesTestRunResultCall",
	WideType:"TestSystemChoicesTestRunResultType",
	GetMethod:"GetTestSystemChoicesTestRunResult",
	OptMethod:"OptTestSystemChoicesTestRunResult",
},
{
	ApiCall:"/test_system/choices/test_tool_type",
	GoApiCallName:"TestSystemChoicesTestToolTypeCall",
	WideType:"TestSystemChoicesTestToolTypeType",
	GetMethod:"GetTestSystemChoicesTestToolType",
	OptMethod:"OptTestSystemChoicesTestToolType",
},
{
	ApiCall:"/test_system/choices/test_type",
	GoApiCallName:"TestSystemChoicesTestTypeCall",
	WideType:"TestSystemChoicesTestTypeType",
	GetMethod:"GetTestSystemChoicesTestType",
	OptMethod:"OptTestSystemChoicesTestType",
},
{
	ApiCall:"/test_system/controller",
	GoApiCallName:"TestSystemControllerCall",
	WideType:"TestSystemControllerType",
	GetMethod:"GetTestSystemController",
	PostMethod:"PostTestSystemController",
	PutMethod:"PutTestSystemController",
	PatchMethod:"PatchTestSystemController",
	OptMethod:"OptTestSystemController",
	ExampleType:"TestSystemController",
	ExampleName:"TestSystemControllerFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/device_under_testing",
	GoApiCallName:"TestSystemDeviceUnderTestingCall",
	WideType:"TestSystemDeviceUnderTestingType",
	GetMethod:"GetTestSystemDeviceUnderTesting",
	PostMethod:"PostTestSystemDeviceUnderTesting",
	PutMethod:"PutTestSystemDeviceUnderTesting",
	PatchMethod:"PatchTestSystemDeviceUnderTesting",
	OptMethod:"OptTestSystemDeviceUnderTesting",
	ExampleType:"TestSystemDeviceUnderTesting",
	ExampleName:"TestSystemDeviceUnderTestingFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/firmware",
	GoApiCallName:"TestSystemFirmwareCall",
	WideType:"TestSystemFirmwareType",
	GetMethod:"GetTestSystemFirmware",
	PostMethod:"PostTestSystemFirmware",
	PutMethod:"PutTestSystemFirmware",
	PatchMethod:"PatchTestSystemFirmware",
	OptMethod:"OptTestSystemFirmware",
	ExampleType:"TestSystemFirmware",
	ExampleName:"TestSystemFirmwareFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/node",
	GoApiCallName:"TestSystemNodeCall",
	WideType:"TestSystemNodeType",
	GetMethod:"GetTestSystemNode",
	PostMethod:"PostTestSystemNode",
	PutMethod:"PutTestSystemNode",
	PatchMethod:"PatchTestSystemNode",
	OptMethod:"OptTestSystemNode",
	ExampleType:"TestSystemNode",
	ExampleName:"TestSystemNodeFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/operating_system",
	GoApiCallName:"TestSystemOperatingSystemCall",
	WideType:"TestSystemOperatingSystemType",
	GetMethod:"GetTestSystemOperatingSystem",
	PostMethod:"PostTestSystemOperatingSystem",
	PutMethod:"PutTestSystemOperatingSystem",
	PatchMethod:"PatchTestSystemOperatingSystem",
	OptMethod:"OptTestSystemOperatingSystem",
	ExampleType:"TestSystemOperatingSystem",
	ExampleName:"TestSystemOperatingSystemFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/product",
	GoApiCallName:"TestSystemProductCall",
	WideType:"TestSystemProductType",
	GetMethod:"GetTestSystemProduct",
	PostMethod:"PostTestSystemProduct",
	PutMethod:"PutTestSystemProduct",
	PatchMethod:"PatchTestSystemProduct",
	OptMethod:"OptTestSystemProduct",
	ExampleType:"TestSystemProduct",
	ExampleName:"TestSystemProductFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/product_family",
	GoApiCallName:"TestSystemProductFamilyCall",
	WideType:"TestSystemProductFamilyType",
	GetMethod:"GetTestSystemProductFamily",
	PostMethod:"PostTestSystemProductFamily",
	PutMethod:"PutTestSystemProductFamily",
	PatchMethod:"PatchTestSystemProductFamily",
	OptMethod:"OptTestSystemProductFamily",
	ExampleType:"TestSystemProductFamily",
	ExampleName:"TestSystemProductFamilyFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/product_link",
	GoApiCallName:"TestSystemProductLinkCall",
	WideType:"TestSystemProductLinkType",
	GetMethod:"GetTestSystemProductLink",
	PostMethod:"PostTestSystemProductLink",
	PutMethod:"PutTestSystemProductLink",
	PatchMethod:"PatchTestSystemProductLink",
	OptMethod:"OptTestSystemProductLink",
	ExampleType:"TestSystemProductLink",
	ExampleName:"TestSystemProductLinkFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/qual_plan",
	GoApiCallName:"TestSystemQualPlanCall",
	WideType:"TestSystemQualPlanType",
	GetMethod:"GetTestSystemQualPlan",
	PostMethod:"PostTestSystemQualPlan",
	PutMethod:"PutTestSystemQualPlan",
	PatchMethod:"PatchTestSystemQualPlan",
	OptMethod:"OptTestSystemQualPlan",
	ExampleType:"TestSystemQualPlan",
	ExampleName:"TestSystemQualPlanFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/storage_driver",
	GoApiCallName:"TestSystemStorageDriverCall",
	WideType:"TestSystemStorageDriverType",
	GetMethod:"GetTestSystemStorageDriver",
	PostMethod:"PostTestSystemStorageDriver",
	PutMethod:"PutTestSystemStorageDriver",
	PatchMethod:"PatchTestSystemStorageDriver",
	OptMethod:"OptTestSystemStorageDriver",
	ExampleType:"TestSystemStorageDriver",
	ExampleName:"TestSystemStorageDriverFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/storage_interface",
	GoApiCallName:"TestSystemStorageInterfaceCall",
	WideType:"TestSystemStorageInterfaceType",
	GetMethod:"GetTestSystemStorageInterface",
	PostMethod:"PostTestSystemStorageInterface",
	PutMethod:"PutTestSystemStorageInterface",
	PatchMethod:"PatchTestSystemStorageInterface",
	OptMethod:"OptTestSystemStorageInterface",
	ExampleType:"TestSystemStorageInterface",
	ExampleName:"TestSystemStorageInterfaceFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/storage_interface_type",
	GoApiCallName:"TestSystemStorageInterfaceTypeCall",
	WideType:"TestSystemStorageInterfaceTypeType",
	GetMethod:"GetTestSystemStorageInterfaceType",
	OptMethod:"OptTestSystemStorageInterfaceType",
},
{
	ApiCall:"/test_system/test_peripheral",
	GoApiCallName:"TestSystemTestPeripheralCall",
	WideType:"TestSystemTestPeripheralType",
	GetMethod:"GetTestSystemTestPeripheral",
	PostMethod:"PostTestSystemTestPeripheral",
	PutMethod:"PutTestSystemTestPeripheral",
	PatchMethod:"PatchTestSystemTestPeripheral",
	OptMethod:"OptTestSystemTestPeripheral",
	ExampleType:"TestSystemTestPeripheral",
	ExampleName:"TestSystemTestPeripheralFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/test_request",
	GoApiCallName:"TestSystemTestRequestCall",
	WideType:"TestSystemTestRequestType",
	GetMethod:"GetTestSystemTestRequest",
	PostMethod:"PostTestSystemTestRequest",
	PutMethod:"PutTestSystemTestRequest",
	PatchMethod:"PatchTestSystemTestRequest",
	OptMethod:"OptTestSystemTestRequest",
	ExampleType:"TestSystemTestRequest",
	ExampleName:"TestSystemTestRequestFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/test_request_detail",
	GoApiCallName:"TestSystemTestRequestDetailCall",
	WideType:"TestSystemTestRequestDetailType",
	GetMethod:"GetTestSystemTestRequestDetail",
	PostMethod:"PostTestSystemTestRequestDetail",
	PutMethod:"PutTestSystemTestRequestDetail",
	PatchMethod:"PatchTestSystemTestRequestDetail",
	OptMethod:"OptTestSystemTestRequestDetail",
	ExampleType:"TestSystemTestRequestDetail",
	ExampleName:"TestSystemTestRequestDetailFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/test_system/view",
	GoApiCallName:"TestSystemViewCall",
	WideType:"TestSystemViewType",
	GetMethod:"GetTestSystemView",
	PostMethod:"PostTestSystemView",
	PutMethod:"PutTestSystemView",
	PatchMethod:"PatchTestSystemView",
	OptMethod:"OptTestSystemView",
	ExampleType:"TestSystemView",
	ExampleName:"TestSystemViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/trigger_event_choices",
	GoApiCallName:"TriggerEventChoicesCall",
	WideType:"TriggerEventChoicesType",
	GetMethod:"GetTriggerEventChoices",
	OptMethod:"OptTriggerEventChoices",
},
{
	ApiCall:"/usage_stats",
	GoApiCallName:"UsageStatsCall",
	WideType:"UsageStatsType",
	GetMethod:"GetUsageStats",
	OptMethod:"OptUsageStats",
	ExampleType:"UsageStats",
	ExampleName:"UsageStatsFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/user_group",
	GoApiCallName:"UserGroupCall",
	WideType:"UserGroupType",
	GetMethod:"GetUserGroup",
	PostMethod:"PostUserGroup",
	PutMethod:"PutUserGroup",
	PatchMethod:"PatchUserGroup",
	OptMethod:"OptUserGroup",
	ExampleType:"UserGroup",
	ExampleName:"UserGroupFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/user_settings",
	GoApiCallName:"UserSettingsCall",
	WideType:"UserSettingsType",
	GetMethod:"GetUserSettings",
	PostMethod:"PostUserSettings",
	PutMethod:"PutUserSettings",
	PatchMethod:"PatchUserSettings",
	DelMethod:"DelUserSettings",
	HeadMethod:"HeadUserSettings",
	OptMethod:"OptUserSettings",
},
{
	ApiCall:"/user_upload/view",
	GoApiCallName:"UserUploadViewCall",
	WideType:"UserUploadViewType",
	GetMethod:"GetUserUploadView",
	PostMethod:"PostUserUploadView",
	PutMethod:"PutUserUploadView",
	PatchMethod:"PatchUserUploadView",
	OptMethod:"OptUserUploadView",
	ExampleType:"UserUploadView",
	ExampleName:"UserUploadViewFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/user_upload/view_type",
	GoApiCallName:"UserUploadViewTypeCall",
	WideType:"UserUploadViewTypeType",
	GetMethod:"GetUserUploadViewType",
	OptMethod:"OptUserUploadViewType",
},
{
	ApiCall:"/users",
	GoApiCallName:"UsersCall",
	WideType:"UsersType",
	GetMethod:"GetUsers",
	PostMethod:"PostUsers",
	PutMethod:"PutUsers",
	PatchMethod:"PatchUsers",
	OptMethod:"OptUsers",
	ExampleType:"Users",
	ExampleName:"UsersFields",
	IdField:"EnterFieldId",
	PrimaryFieldName:"EnterPrimaryFieldName",
},
{
	ApiCall:"/users/me",
	GoApiCallName:"UsersMeCall",
	WideType:"UsersMeType",
	GetMethod:"GetUsersMe",
	OptMethod:"OptUsersMe",
},
/* StatusCode: 400
Error: nil
Body: {"detail":"username not specified"} */
/* curl -H 'Authorization: Token a6c77f1d30ee93116475f54edb25f2e096b4bdd8' -H 'Content-Type: application/json' http://epd-dev.devicepros.net:8010/users/reset_password/?format=json */
{
	ApiCall:"/v2/firmware_report",
	GoApiCallName:"V2FirmwareReportCall",
	WideType:"V2FirmwareReportType",
	GetMethod:"GetV2FirmwareReport",
	PostMethod:"PostV2FirmwareReport",
	PutMethod:"PutV2FirmwareReport",
	PatchMethod:"PatchV2FirmwareReport",
	OptMethod:"OptV2FirmwareReport",
},
